html, body, #main {
	margin: 0;
	padding: 0;
	height: 100%;
}

.random-life {
	display: flex;

	.grid {
		display: flex;
		flex-direction: column;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
		margin: 10px 0 0 10px;
		position: relative;

		.mask {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			display: none;
		}

		.row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.cell {
				box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
				width: 1rem;
				height: 1rem;

				&.is-alive { background-color: black; }
			}
		}

	}

}
